page-home {
  ion-thumbnail {
    img {
      border-radius: 15px;
      width: 100px !important;
      height: 100px !important;
      object-fit: fill;
    }
  }

  ion-icon {
    font-size: 2em !important;
  }
}
